/* .currency-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .currency-form__field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .currency-form__label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .currency-form__input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #dddddd;
  } */

  .currency-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .currency-form__field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .currency-form__label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .currency-form__input,
  .currency-form__select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  .currency-form__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .currency-form__button:hover {
    background-color: #0056b3;
  }
  
  .currency-form__button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .more-details-button {
    margin-left: 20px;
  }
  
  @media (max-width: 600px) {
    .currency-form__field {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .currency-form__label {
      margin-bottom: 5px;
    }
  
    .currency-form__input,
    .currency-form__select {
      width: 100%;
    }
  
    .currency-form__button {
      width: 100%;
    }
  }
  